body {
  background-image: url("img/background.jpg");
}

form {
  width: 50%;
  margin-top: 50px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
input {
  display: block;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
  border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
}
img {
  display: block;
  width: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: white;
  box-sizing: border-box;
}

input:focus {
  background: white;
  color: black;
  outline: none;
}

a {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: fit-content;
  padding: 5px;
  color: white;
  opacity: 0.6;
}

a:hover {
  opacity: 1;
}
.button:hover {
  color: black;
  background-color: white;
}
